body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #666666;
    overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: 0;
    background-color: #fdc657;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 5px;
    background-color: rgba(253, 198, 87, 0.3);
}

img {
    vertical-align: middle;
}

.header {
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    animation: header 2s forwards;
}

.header-items {
    padding-left: 80px;
    height: 21px;
}

.header-items span {
    color: #222222;
    font-weight: bold;
    transition: 0.5s;
}

.logo {
    width: 200px;
    height: 21px;
}

.bi {
    color: #222222;
    transition: 0.5s;
}

.bi:hover, .header-items span:hover, .count:hover {
    color: #ffc107;
    cursor: pointer;
    transition: 0.5s;
}

.bi-cart-fill {
    margin-left: 41px;
    position: relative;
}

.count {
    background-color: #222222;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 10px;
    right: 5px;
    line-height: 14px;
    height: 15px;
    width: 15px;
    transition: 0.5s;
}

.content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: 106px;
}

.shop-slide {
    background-image: url(photo/shop-slide-1.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    align-self: center;
    width: 1360px;
    min-height: 600px;
    height: 100%;
    animation: show 3s forwards;
}

.shop-description {
    margin-left: 10%;
}

.shop-description h2 {
    font-size: 40px;
    color: #202020;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 0;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}

.btn-shop {
    color: #fdc657;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 33px;
    transition: 0.5s;
}

.btn-shop:hover {
    color: #202020;
    cursor: pointer;
    transition: 0.5s;
}

.shop-cate {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 29px;
}

.light-up, .hand-up, .women-up, .wake-up {
    width: 356px;
    height: 260px;
    display: flex;
    align-items: center;
}

.watch {
    width: 356px;
    height: 550px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.light-up {
    background-image: url("photo/shop-cate-1.jpg");
}

.hand-up {
    background-image: url("photo/shop-cate-2.jpg");
}

.watch {
    background-image: url("photo/shop-cate-5.jpg");
    position: relative;
}

.women-up {
    background-image: url("photo/shop-cate-3.jpg");
}

.wake-up {
    background-image: url("photo/shop-cate-4.jpg");
}

.cate-description-left {
    margin-left: 15%;
    position: relative;
}

.cate-description-left h4, .cate-description-right h4 {
    font-size: 18px;
    color: #202020;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.cate-description-right {
    margin-left: 60%;
}

.sale-badge {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #fdc657;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 30px;
}

.sale-badge.small {
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -70px;
    right: -190px;
}

.cate-hover {
    animation: smaller 0.5s forwards;
}

.cate-hover:hover {
    cursor: pointer;
    animation: bigger 0.5s forwards;
}

.cate-hover:hover h4 {
    color: #fdc657;
    transition-duration: 0.5s;
}

.cate-hover h4 {
    transition-duration: 0.5s;
}

.features {
    margin-top: 120px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid #e7e7e7;
    padding: 100px;
    gap: 30px;
}

.features-text {
    width: 295px;
    height: 377px;
}

.features-text h2 {
    color: #222222;
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 70px;
}

.features-text p {
    margin: 0;
    margin-bottom: 60px;
}

.btn {
    font-size: 14px;
    background-color: #fdc657;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}

.btn:hover {
    background-color: #222222;
    transition: 0.4s;
}

.btn-purchase {
    width: 188px;
    height: 67px;
    padding: 25px 35px;
    margin-top: 38px;
}

.btn-purchase:hover {
    color: #fdc657;
}

.single-product img {
    width: 353px;
    height: 432px;
}

.single-product img:hover {
    cursor: pointer;
}

.single-product h3 {
    color: #222222;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.4s;
    width: 90px;
}

.single-product h3:hover {
    color: #fdc657;
    transition: 0.4s;
    cursor: pointer;
}

.single-product i {
    margin-top: 15px;
    height: 15px;
}

.single-product i:hover {
    color: #222222;
}

.single-product i:hover {
    cursor: pointer;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
}

.flex-beetwen h3 {
    width: auto;
}

.newsletter {
    margin-top: 120px;
    width: 1116px;
    height: 240px;
    background-image: url(photo/newsletter-bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-text {
    margin-left: -338px;
}

.newsletter-text h2 {
    color: #222222;
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
}

.newsletter-form {
    margin-bottom: 10px;
}

.email {
    width: 341px;
    padding: 20px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn-subscribe {
    width: 164px;
    height: 64px;
    padding: 24.5px 40px;
    margin-left: -5px;
}

.products {
    margin-top: 120px;
    width: 1116px;
    align-self: center;
}

.products h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 40px;
    color: #222222;
}

.products p {
    margin: 0;
    margin-bottom: 54px;
    font-size: 15px;
}

.grid-container {
    width: 1116px;
    display: grid;
    grid-template-columns:repeat(3, 355px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 25px;
}

.btn-view-more-products {
    background-color: #222222;
    width: 1116px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.btn-view-more-products:hover {
    background-color: #fdc657;
}

.partners {
    margin-top: 120px;
    background-color: #f4f4f4;
    height: 212px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 90px;
    justify-content: center;
    align-items: center;
}

.footer {
    border: black;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    justify-content: space-between;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #222222;
}

.footer h3 {
    margin: 0;
    font-size: 26px;
    color: #222222;
    font-weight: 500;
    line-height: 1;
}

.icons i {
    margin-left: 30px;
}

::selection {
    background: #fdc657;
    color: #fff;
}

@keyframes header {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
}

@keyframes show {
    0% {transform: scale(0);}
    100% {transform: scale(1.0);}
}

@keyframes bigger {
    from {
        background-size: 100%
    }
    to {
        background-size: 105%;
    }
}

@keyframes smaller {
    from {
        background-size: 105%
    }
    to {
        background-size: 100%;
    }
}
