body{
    background-color: #F5E0FF;
}

.flex-conteiner {
    background-color: #eabdff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.flex-element{
    width: 100px;
    padding: 10px;
}
